<%= turbo_frame_tag dom_id(block) do %>
  <div class="block relative group" tabindex="0">
    <% case block.blockable_type %>
    <% when 'Block::Text' %>
      <p><%= block.blockable.content %></p>
    <% when 'Block::H1', 'Block::H2', 'Block::H3' %>
      <% level = block.blockable_type[-1] %>
      <% tag_name = "h#{level}" %>
      <<%= tag_name %>><%= block.blockable.content %></<%= tag_name %>>
    <% when 'Block::Code' %>
      <pre><code class="language-<%= block.blockable.language %>"><%= block.blockable.content %></code></pre>
    <% when 'Block::OrderedListItem' %>
      <!-- This will only be used for edit mode -->
      <div class="block-ordered-list-item">
        <ol class="list-decimal ml-5">
          <li><%= block.blockable.content %></li>
        </ol>
      </div>
    <% when 'Block::UnorderedListItem' %>
      <!-- This will only be used for edit mode -->
      <div class="block-unordered-list-item">
        <ul class="list-disc ml-5">
          <li><%= block.blockable.content %></li>
        </ul>
      </div>
    <% when 'Block::Image' %>
      <figure>
        <img src="<%= block.blockable.image_url %>" alt="<%= block.blockable.content %>" class="max-w-full">
        <% if block.blockable.content.present? %>
          <figcaption class="text-sm text-gray-500 italic mt-1"><%= block.blockable.content %></figcaption>
        <% end %>
      </figure>
    <% end %>
    
    <%= render 'blocks/block_menu', block: block, 
                  first_item: first_item,
                  last_item: last_item %>
  </div>
<% end %> 