<%= form_with model: [@page, @block], class: "relative flex items-center", data: { turbo: true } do |f| %>
  <%= f.hidden_field :blockable_type, value: "Block::#{@block_type.camelize}" %>
  
  <% case @block_type %>
  <% when 'h1' %>
    <div class="flex-grow ">
      <%= f.text_field :content, 
                      class: "w-full focus:outline-none text-4xl font-bold", 
                      autofocus: true,
                      placeholder: "Heading 1..." %>
    </div>
  <% when 'h2' %>
    <div class="flex-grow ">
      <%= f.text_field :content, 
                      class: "w-full focus:outline-none text-3xl font-bold", 
                      autofocus: true,
                      placeholder: "Heading 2..." %>
    </div>
  <% when 'h3' %>
    <div class="flex-grow ">
      <%= f.text_field :content, 
                      class: "w-full focus:outline-none text-2xl font-bold", 
                      autofocus: true,
                      placeholder: "Heading 3..." %>
    </div>
  <% when 'text' %>
    <div class="flex-grow ">
      <%= f.text_field :content, 
                      class: "w-full focus:outline-none prose-p", 
                      autofocus: true, 
                      placeholder: "Some text..." %>
    </div>
  <% when 'image' %>
    <div class="flex-grow ">
      <%= f.url_field :url, 
                      class: "w-full focus:outline-none", 
                      autofocus: true,
                      placeholder: "Image URL..." %>
    </div>
    
    <div class="flex-grow ">
      <%= f.text_field :content, 
                      class: "w-full focus:outline-none text-sm text-gray-500 italic", 
                      placeholder: "Image caption (optional)..." %>
    </div>
  <% when 'code' %>
    <div class="flex-grow ">
      <%= f.text_field :language, 
                      class: "w-full focus:outline-none", 
                      autofocus: true,
                      placeholder: "Language (e.g. javascript, ruby, html)..." %>
    </div>
    
    <div class="flex-grow ">
      <%= f.text_area :content, 
                      class: "w-full focus:outline-none min-h-[150px] font-mono text-sm bg-gray-50", 
                      placeholder: "Paste or type code here..." %>
    </div>
  <% else %>
    <div class="flex-grow ">
      <%= f.text_field :content, 
                      class: "w-full focus:outline-none", 
                      autofocus: true,
                      placeholder: "Enter content..." %>
    </div>
  <% end %>
  
  <%= f.button type: "submit", class: "text-blue-600 hover:text-blue-800 focus:outline-none", aria: { label: "Add Block" } do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  <% end %>
<% end %>