<%= form_with model: [@page, @block], class: "relative flex items-center", data: { turbo: true }, html: { multipart: true } do |f| %>
  <%= f.hidden_field :blockable_type, value: "Block::#{@block_type.camelize}" %>
  
  <% case @block_type %>
  <% when 'h1' %>
    <div class="flex-grow">
      <%= f.text_field :content, 
                      value: @block.blockable&.content,
                      class: "w-full focus:outline-none text-4xl font-bold", 
                      autofocus: true,
                      placeholder: "Heading 1...",
                      data: { controller: "cursor-position" } %>
    </div>
  <% when 'h2' %>
    <div class="flex-grow">
      <%= f.text_field :content, 
                      value: @block.blockable&.content,
                      class: "w-full focus:outline-none text-3xl font-bold", 
                      autofocus: true,
                      placeholder: "Heading 2...",
                      data: { controller: "cursor-position" } %>
    </div>
  <% when 'h3' %>
    <div class="flex-grow">
      <%= f.text_field :content, 
                      value: @block.blockable&.content,
                      class: "w-full focus:outline-none text-2xl font-bold", 
                      autofocus: true,
                      placeholder: "Heading 3...",
                      data: { controller: "cursor-position" } %>
    </div>
  <% when 'text' %>
    <div class="flex-grow">
      <%= f.text_field :content, 
                      value: @block.blockable&.content,
                      class: "w-full focus:outline-none prose-p", 
                      autofocus: true, 
                      placeholder: "Some text...",
                      data: { controller: "cursor-position" } %>
    </div>
  <% when 'image' %>
    <div class="flex-grow flex flex-col gap-2">
      <div class="flex-grow">
        <%= f.file_field :image, 
                      class: "w-full focus:outline-none", 
                      autofocus: true,
                      accept: "image/*",
                      data: { controller: "cursor-position" } %>
      </div>
      
      <div class="flex-grow">
        <%= f.text_field :content, 
                      value: @block.blockable&.content,
                      class: "w-full focus:outline-none text-sm text-gray-500 italic", 
                      placeholder: "Image caption (optional)...",
                      data: { controller: "cursor-position" } %>
      </div>
    </div>
  <% when 'code' %>
    <div class="flex flex-grow flex-col gap-2">
      <div class="flex-grow">
        <%= f.select :language, 
                    options_for_select(Block::Code.languages.keys.map { |lang| [lang.humanize, lang] }, @block.blockable&.language),
                    {},
                    class: "w-full focus:outline-none", 
                    autofocus: true,
                    placeholder: "Language (e.g. javascript, ruby, html)...",
                    data: { controller: "cursor-position" } %>
      </div>
      
      <hr class="w-full border-gray-200">
      
      <div class="flex-grow">
        <%= f.text_area :content, 
                        value: @block.blockable&.content,
                        class: "w-full focus:outline-none min-h-[150px] font-mono text-sm bg-gray-50 p-4 rounded-md", 
                        placeholder: "Paste or type code here...",
                        data: { controller: "cursor-position" } %>
      </div>
    </div>
  <% when 'ordered_list_item', 'unordered_list_item' %>
    <div class="flex-grow">
      <%= f.text_field :content, 
                     value: @block.blockable&.content,
                     class: "w-full focus:outline-none", 
                     autofocus: true,
                     placeholder: "List item...",
                     data: { controller: "cursor-position" } %>
    </div>
  <% else %>
    <div class="flex-grow ">
      <%= f.text_field :content, 
                      value: @block.blockable&.content,
                      class: "w-full focus:outline-none", 
                      autofocus: true,
                      placeholder: "Enter content...",
                      data: { controller: "cursor-position" } %>
    </div>
  <% end %>
  
  <%= f.button type: "submit", class: "text-blue-600 hover:text-blue-800 focus:outline-none", aria: { label: "Add Block" } do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  <% end %>
<% end %>